@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy-ExtraBold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
    font-family: Gilroy;
    font-weight: 400;
}

p{
    font-weight: 400;
}
