$accentColor = #333333
$textColor = #333333
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc

.home .hero .action-button{
  border-radius: 0;
}

.sidebar-sub-headers a.sidebar-link.active {
  font-weight: 700;
}

tbody  {
  width:100%;
}

.custom-block.tip {
    background-color: #f3f5f7;
    border-color: #333333;
}
